ANTHROPIC_API_KEY=sk-ant-api03-xxxxxxxxxxxxxx-hEqqwgAA

ANTHROPIC_MAX_TOKENS=30000
ANTHROPIC_MAX_TOKENS_THINK=5000

ANTHROPIC_CLAUDE_MODEL=claude-sonnet-4-20250514
# claude-sonnet-4-20250514
# claude-opus-4-20250514